html { font-size: 10px; }

body { 
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/1c/3a/80/1c3a801c0a9f10f120b62a6dbadc5f66.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
